html, body, {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #000000;
    font-family: 'Muli', sans-serif;
    line-height: 1.5;
}

h1, h4 {
    text-decoration: none;
}

h1 {
    font-family: 'Arvo', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(150, 2, 0);
    font-size: 1.50rem;
}

h2 {
    font-family: "Dosis", sans-serif;
    font-style: normal;
    font-weight: 800;
    padding: 0.25rem;
    background-color: #ce6c47;
    color: #ffffff;
    text-align: center;
    font-size: 1.40rem;
}

h3 {
    font-family: "Dosis", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #241e4e;
    border-top: #241e4e 6px solid;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 1.00rem;
    margin-bottom: 0.5rem;
}

h2 h3 {
    margin-top: -0.25em;
}

h2:nth-child(2) {
    margin-bottom: -3.0rem;
    padding-bottom: -1.0rem;
}

h4 {
    font-family: 'woff', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 1px;
    padding-bottom: 1em;
    font-size: 1.00rem;
}

p {
    font-size: 1.00rem;
}

.style-selector {
    background-color: #666666;
    color: #ffffff;
    margin: 0;
    padding: 0.8em 0 0.5em 0;
    border-bottom: thin solid #000000;
}

.style-selection-group {
    width: 100%;
    margin: auto;
}

.style-selection-note {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    justify-content: center; /* align horizontal */

    align-items: center; /* align vertical */
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;


    min-height: calc(100% - 5.50em);
}

.style-selection-note .message {
    padding: 0 0.5em;
    text-align: center;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #803820;
}

.style-selection-note .message p {
    font-size: 1.25rem;
}

.style-selection-note,
.title,
div.cover-letter,
.resume {
    width: 100%;
    margin: auto;
}


.cover-letter-markdown {
    width: calc(100% - 2.0rem);
    padding: 0 ;
    margin: 0 1.0rem;
    border: 0;
}

.cover-letter p,
.cover-letter li {
    font-family: 'Open Sans Condensed', serif;}



/******************************************************************************
 *
 * FOOTER
 *
 *****************************************************************************/

.footer {
    position: fixed;
    height: 1.5rem;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    margin: 1.25em auto 0 auto;
    padding: 0.75em auto 0 auto;
    border-top: 0.5em solid #333333;
    background: #333333;
    color: white;
    font-size: 75%;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.footer a {
    color: #c8ffbe;
}

.pseudo {
    position: inherit;
    background-color: transparent;
}

table, table tr, table td {
    padding: 0;
    border: 0;
    border-spacing: 0;
    border-top: #241e4e 1px solid;
}

td .resume-details,
td .resume-addendum {
    padding: 0.25rem 0.50rem;
    font-size: 90%;
}


.resume-section table,
.resume-section table tr,
.resume-section table tr td,
.resume-section table tr td div,
.resume-section,
.resume-section tr,
.resume-section tr td,
.resume-section tr td div {
    width: 100%:
}

.resume-details {
    min-width: 10em;
    /*max-width: 50%; */
    padding: 0.5em 0.5em 0.5em 0em;
    font-family: 'Coming Soon', sans-serif;
}

.speech-arrow {
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid #EDFFAB;
}

.resume-entry {
    width: 100%;
}

.resume-addendum {
    background-color: #EDFFAB;
    width: 100%;
    min-width: 25em;
    /* height: 100%; */
    padding: 0.5em 1.0em 0.5em 0.5em;
    border-radius: 0.15em;
    font-family: 'Neucha';
    display: block;
}

/* yellow_box{padding-top:6px;white-space:normal;position:absolute;font-style:italic} */

/***************************************
   ANIMATION
***************************************/

.animation.ng-show, .animation.ng-hide,
.animation {

    /* cross-browser css-transition entries */
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;

    /* magic sauce that lets the divs
         work within the td */
    display:block!important;

    width: 100%;
}

.animation.ng-show,
.animation.ng-show-active {
    opacity: 1;
}

.animation.ng-hide,
.animation.ng-hide-active {
    opacity: 0;
}
