/******************************************************************************
 *
 * IMPORTANT NOTES
 *
 * - uses http://rafael.adm.br/css_browser_selector/
 *
 *****************************************************************************/

html, body {
	height: 100%;
	min-width: 338px;
	width: 100%;
	margin: 0;
}

.page {
	position: relative;
	height: 100%;
}

.wrap-break {
	/* hack to allow specified text-wrap locations */
	display: inline-block;
}


/******************************************************************************
 *
 * NON-PRINT - do not display print-only elements
 *
 *****************************************************************************/

.print {
	display: none;
}


/******************************************************************************
 *
 * BASELINES FOR DIFFERENT SCREEN SIZES
 *
 *****************************************************************************/

@media screen and (max-width: 400px) {
	html, body, table {
		font-size: 18px;
		/*background: lightpink;*/
	}

	form .style-selection-group,
	.application {
		max-width: 95%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 400px) and (max-width: 800px) {
	html, body, table {
		font-size: 20px;
		/*background: lightgoldenrodyellow;*/
	}

	form .style-selection-group,
	.application {
		max-width: 95%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 800px) {
	html, body, table {
		font-size: 22px;
		margin: 0;
		padding: 0;
		/*background: lightgreen;*/
	}

	form .style-selection-group,
	.application {
		width: 1000px;
		max-width: 95%;
		margin: 0 auto;
	}
}
