html, body {
	height: 100%;
	min-width: 338px;
	width: 100%;
	margin: 0;
}

.page {
	position: relative;
	height: 100%;
}

.wrap-break {
	display: inline-block;
}


/******************************************************************************
 *
 * NON-PRINT - do not display print-only elements
 *
 *****************************************************************************/

.print {
	display: none;
}


/******************************************************************************
 *
 * BASELINES FOR DIFFERENT SCREEN SIZES
 *
 *****************************************************************************/

@media screen and (max-width: 400px) {
	html, body, table {
		font-size: 18px;
		/*background: lightpink;*/
	}
}

@media screen and (min-width: 400px) and (max-width: 800px) {
	html, body, table {
		font-size: 20px;
		/*background: lightgoldenrodyellow;*/
	}
}

@media screen and (min-width: 800px) {
	html, body, table {
		font-size: 22px;
		/*background: lightgreen;*/
	}
}
