html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

h1, h2, h3 {
	width: 100%;
	padding-top: 1.0em;
	margin: auto;
}

.cover-letter {
	width: calc(100% - 3.5em);
	margin: auto;
}

.resume {
	width: calc(100% - 3.5em);
	margin: auto;
}

.resume-entry {
	width: 100%;
	height: auto;
	border: solid 1px red;
}

.resume-details {
	min-width: 10em;
	max-width: 50%;
	padding: 0.5em 0.5em 0.5em 0em;
}

.yellow-box {
	/* Inspiration is the sincerest form of flattery ;-) */
	background: url(http://www.agencyfusion.com/cmsimages/yellow_arrow.gif) top center no-repeat;
}

.resume-addendum {
	opacity: 0;
	background-color: #ffffff;
	padding: 0.5em 1.0em 0.5em 0.5em;
}


/* yellow_box{padding-top:6px;white-space:normal;position:absolute;font-style:italic} */
