<!-- STANDARD COVER LETTER STUFF -->
<div class="cover-letter">
  <h2>{{title}} for {{application.title}}</h2>
  <p>{{application.coverLetter}}<p>
    <div ng-show=false>
      <p>Welcome to my online cover letter and resume for XXX's Web Developer position.</p>
      <p>My background is in Instructional Technology.  Coming from a field with that name, it may be clear that I've interacted with a wide range of technologies.  What may not be clear is why I am looking for a career shift.  More importantly, it may not be clear why I'd be a great match for XXX.</p>
      <p>My professional interactions with programming, and web development in particular, are extremely varied.  For example, I've documented Fortran code, I developed a major, state-wide reporting system in Microsoft Access, I developed the CSS for a large web app over a decade ago, I've been on the design team for large Java projects, I've developed prototype apps with Ruby on Rails, I've been in charge of 508 (i.e. web accessibility) for more projects than I can recollect, and I even had the opportunity to teach kids the basics of electronics and programming with Arduinos.  Strangely, programming has never been the focus of any of my jobs; but it's always been one of the highlights and the time has come for me to do it as a primary part of my job.</p>
      <p>So, why do I think I'd be a great addition to XXX?  Simply put, I love the aspects of web design and development that many creative people don't.  While I enjoy eye candy, I'm rarely the person able to design the eye candy, but I am the person who will figure out how to make the eye candy a reality.  Not only that, I have a wonderful breadth of experience with a wide-range technologies.  While I haven't done it yet, making connections between web-apps and the physical world (for example, commanding an Arduino from a web page) is on my bucket list.  </p>
      <p>For most of my career I haven't been eating and breathing any specific technologies.  Before making the actual career shift, I felt it was important to really focus on one technology for a while.  To that end, I've recently completed the DevMountain Web Dev bootcamp, which is focused on JavaScript.  If anything, this has reinforced my desire to be coding more often.  The irony of focusing on JavaScript is that it is a broad field in and of itself.  We covered a pretty wide swath of territory, to include HTML5, CSS3, vanilla JavaScript, jQuery, AngularJS, node.js, express, mySQL, MongoDb, Firebase, and test-driven development  This site itself is a demonstration of the skills I've picked up (as well as more practice).</p>
      <p>I also have an extensive history with project management and juggling multiple projects and multiple clients; these skills tend to be pretty universally applicable.</p>
    </div>
</div>


<!-- STANDARD RESUME STUFF -->
<div class="resume">
  <h2>Resume</h2>
  <!-- SKILLS -->
  <div class="resume-section">
    <h3>Skills</h3>
    <table>
      <tr ng-repeat="entry in skills" ng-init="showDiv=false"
          ng-mouseenter="showDiv=!showDiv" ng-mouseleave="showDiv=!showDiv"
          class="resume-entry">
        <td>
          <div class="resume-details">
            <!-- {{entry.level}} - -->{{entry.title}}
          </div>
        </td>
        <td>
          <div class="animation yellow-box" ng-show="showDiv">
            <div class="speech-arrow"></div>
          </div>
        </td>
        <td>
          <div class="animation resume-addendum" ng-show="showDiv">
            {{entry.addendum}}
          </div>
        </td>
      </tr>
    </table>
  </div>

  <!-- EXPERIENCE -->
  <div class="resume-section">
    <h3>Experience</h3>
    <table>
      <tr ng-repeat="entry in experience" ng-init="showDiv=false"
          ng-mouseenter="showDiv=!showDiv" ng-mouseleave="showDiv=!showDiv"
          class="resume-entry">
        <td>
          <div class="resume-details">
            {{entry.title}}
          </div>
        </td>
        <td>
          <div class="animation yellow-box" ng-show="showDiv">
            <div class="speech-arrow"> </div>
          </div>
        </td>
        <td>
          <div class="animation resume-addendum" ng-show="showDiv">
            {{entry.addendum}}
          </div>
        </td>
      </tr>
    </table>
  </div>

  <!-- EMPLOYMENT -->
  <div class="resume-section">
    <h3>Employment</h3>
    <table>
      <tr ng-repeat="entry in employment" ng-init="showDiv=false"
          ng-mouseenter="showDiv=!showDiv" ng-mouseleave="showDiv=!showDiv"
          class="resume-entry">
        <td>
          <div class="resume-details">
            {{entry.organization}} {{entry.title}} <br/>
            {{entry.start}} to {{entry.end}}
          </div>
        </td>
        <td>
          <div class="animation yellow-box" ng-show="showDiv">
            <div class="speech-arrow"> </div>
          </div>
        </td>
        <td>
          <div class="animation resume-addendum" ng-show="showDiv">
            {{entry.addendum}}
          </div>
        </td>
      </tr>
    </table>
  </div>

  <!-- EDUCATION -->
  <div class="resume-section">
    <h3>Education</h3>
    <table>
      <tr ng-repeat="entry in education" ng-init="showDiv=false"
          ng-mouseenter="showDiv=!showDiv" ng-mouseleave="showDiv=!showDiv"
          class="resume-entry">
        <td>
          <div class="resume-details">
            {{entry.level}} in {{entry.program}}
            <br/> {{entry.institution}} in {{entry.graduated}}
          </div>
        </td>
        <td>
          <div class="animation yellow-box" ng-show="showDiv">
            <div class="speech-arrow"> </div>
          </div>
        </td>
        <td>
          <div class="animation resume-addendum" ng-show="showDiv">
            {{entry.addendum || '&nbsp;'}}
          </div>
        </td>
      </tr>
    </table>
  </div>

  <!-- AWARDS -->
  <div class="resume-section">
    <h3>Awards &amp; Honors</h3>
    <table>
      <tr ng-repeat="entry in awards" ng-init="showDiv=false"
          ng-mouseenter="showDiv=!showDiv" ng-mouseleave="showDiv=!showDiv"
          class="resume-entry">
        <td>
          <div class="resume-details">
            {{entry.title}} <br/>
            {{entry.organization}} in {{entry.graduated}}
          </div>
        </td>
        <td>
          <div class="animation yellow-box" ng-show="showDiv">
            <div class="speech-arrow"> </div>
          </div>
        </td>
        <td>
          <div class="animation resume-addendum" ng-show="showDiv">
            {{entry.addendum}}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div> <!-- resume div -->