
<!-- partial-specific style links -->
<link href='http://fonts.googleapis.com/css?family=Muli|Julius+Sans+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://metasean.github.io/css/fonts/fontawesome-webfont.woff?v=#4.0.3"/>
<link rel="stylesheet" href="styles/landing.css">

<!-- partial -->
<div class="landing">
  <div id="banner">
    <title>MetaSean's Resume</title>

    <h1>Sean Duncan</h1>
    <h4>JavaScript Craftsman</h4>
  </div>
  <div id="content">
    <h2>Meta</h2>
    <ul>
      <li><a href="https://github.com/metasean" target="_blank">GitHub</a>: For the code-curious.</li>
      <li><a href="http://metasean.github.io/" target="_blank">Blog</a>: For an insight into my insights.</li>
    </ul>

    <h2>Projects</h2>
    <ul>
      <li><a href="https://github.com/metasean/resume" target="_blank">Resume Application</a>: The web application for job applications.</li>
      <li><a href="http://metasean.github.io/sagehand/" target="_blank">SageHand</a>: The scheduling tool for music festival stage personel.</li>
    </ul>
  </div>
</div>